.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.video_bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: calc(var(--main-banner-height) - 10px);
  bottom: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .video_bg {
    display: none;
    background: url(../img/paper-thin-header.png) repeat center center fixed;
  }
}
