# .gitignore
.archive
squalm_tree.txt
email_errors.log
*.log*
.bak
*.tmp
vendor/
.env
.htpasswd
.htaccess
.htaccesss
/admin/includes/dbh.inc.php
/admin/includes/.htaccesss
/admin/includes/email_config.php
includes/email_config.php
includes/dbh.inc.php